<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>#{title}</title>
    
     link(rel='stylesheet', href='../styles/style.css')
     link(rel='stylesheet', href='../styles/globals.css')
     link(rel='stylesheet', href='../styles/media.css')

</head>
<body>
    <div class="first-slide hidden">
        <div class="slide ">
            <div class="left-part ">
                <div id="head" class="header">
                    <div class="black-lap mrgin-left-50"><img id="black-lap" class="png" src="../assets/arrow" alt="test"></div>
                    <p id="tutorials" class="tutorials scrolling">#{params.tutorials}</p>
                    <p id="Case_studies">#{params.cases}</p>
                    <p id="Resourses">#{params.resourses}</p>
                </div>
                    <a class="lang" href="?lang=ru"> <img class="russian" src="https://kupit-flag.ru/upload/iblock/64c/64ccddf8ea581072cd4a901d84eeca7c.png" alt="./assets/Line 1.png"></a>
                      <a class="lang_usa" href="?"> <img class="Usa" src="https://www.rabstol.net/uploads/gallery/main/229/rabstol_net_flags_57.jpg" alt="./assets/Line 1.png"></a>
                <div class="big-text mrgin-left-50">
                    <p>#{firstSlide.improve}</p>
                </div>
                <div class="litle-text mrgin-left-50"><img src="./assets/hotdog.png" alt="./assets/hotdog.png">
                    <p class="create"> #{firstSlide.create}</p>
                </div>
                <div class="black-button mrgin-left-50">
                    <button id="black-button">#{firstSlide.blackButton}<img class="line-3" src="../assets/arrow_2" alt="../assets/arrow_2"></button>
                </div>
            </div>
            <div class="right-part backgraund-black">
                <img class="line-first" src="./assets/Line 1.png" alt="./assets/Line 1.png">
                <img id="men" class="men" src="./assets/men .png" alt="./assets/men">
                <img class="list" src="./assets/Frame 1.png" alt="./assets/Frame 1.png">
                <img class="Vector" src="./assets/yellowtabl.png" alt="./assets/Vector 1.png">
                //- <!-- <img src="./assets/redlap.png" alt="./assets/redlap.png"> -->
                <div class="Name"> <img class="redlap" src="./assets/redlap.png" alt="./assets/redlap.png">
                    <li>Leo Tarasov</li>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="sponsors-block hidden">
        <a href="https://www.edx.org/" target="_blank"> <img src="../assets/logos/edx.svg" /></a>
        <a href="https://ru.coursera.org/" target="_blank"><img src="../assets/logos/coursera.svg" /></a>
        <a href="https://www.udemy.com/" target="_blank"> <img src="../assets/logos/udemy.svg" /></a>
        //- <!-- <img class="grey-block "  src="./assets/Frame 28.png" alt="./assets/Frame 28.png"> -->
    </div>
    <div id="third-slide hidden" class="third-slide">
        <div class="left-slide">

            <div id="text-box" class="text-box">
                <div id="fet" class="fat-text top-90 left-50">
                    <p class="foryou">#{secondslide.Features}</p>
                </div>
                <div class="top-90 left-50 ">
                    <p>#{secondslide.Provide}</p>
                </div>
                <div class="slider left-50">
                    <button class="backgraund-yellow border-none"></button>
                    <button></button>
                    <button></button>

                </div>
            </div>
        </div>
        <div class="right-slide">
            <div id="three" class="three-button off">
                <button id="button_one" class="white-button border-none color-FFF">
                    <div class="vector"> <img src="./assets/yellow-line.png" alt="">
                        <p class="top-90 litle-fat-text position "> #{secondslide.Best} </p>
                </button>
                //- <!-- <button class="backgraund-yellow border-none"> -->                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
                <button class="white-button border-none color-FFF">
                    <div class="vector"> <img src="../assets/blackline.png" alt="">
                        <p class="top-90 litle-fat-text position">#{secondslide.Flexible} </p>
                </button>
                <button class="white-button border-none color-FFF">
                    <div class="vector"> <img src="../assets/orange-line.png" alt="">
                        <p class="top-90 litle-fat-text position"> #{secondslide.ease} </p>
                </button>
            </div>
        </div>
    </div>
    <div class="first-slide color-FFF hidden">   
        <div class="slide-3">
            <div class="left-part ">
                <img class="window-2" src="../assets/window 2.png" alt="">
                <img class="yellow-tabl" src="./assets/yellow-tabl.png" alt="">
            </div>
            <div class="right-part right-0 top-0 ">
                <div class="container">
                    <div class="little-container">
                        <div class="text-big font-size-20 margin-top">
                            <h1>#{thirdslide.language}</h1>
                        </div>
                        <div class="little-text  ">
                            <p>#{thirdslide.live}</p>
                        </div>
                        <div class="black-button  font-size-5">
                            <button id="black-button" class="font-size-5">#{thirdslide.seld}<img class="line-3" src="./assets/arrow_2" alt="./assets/arrow_2"></button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div id="four_slide" class="slide-blackman">
            <div id="Four-text" class="slide-blackman_big_block">
                <div class="slide-blackman_block">
                    <div class="block__big-text">
                        <h1>#{fourthslide.Get}</h1>
                    </div>
                    <div class="block__two-element">
                        <div class="block__University "><img src="../assets/yellow waves.png" alt="./assets/yellow waves.png">
                            <p>
                            <h1>#{fourthslide.University}</h1>#{fourthslide.Browse}</p>
                        </div>
                        <div class="block__Showcase"><img src="../assets/React_yellow.png" alt="./assets/React_yellow.png">
                            <p>
                            <h1>#{fourthslide.Showcase}</h1>#{fourthslide.inspired}</p>
                        </div>
                    </div>

                </div>
            </div>
            <div id="yellow_black_block" class="slide-blackman_black-block">
                <div class="black-block__yellow-block">
                    <div class="black-block__TUTORS">
                        <h1>#{fourthslide.TUTORS} <div class="TUTORS__text-2">#{fourthslide.Anthoney}</div>
                        </h1>
                    </div>
                    <img class="black-block__bleck-man" src="../assets/blackman.png" alt="./assets/blackman.png">
                </div>


            </div>
        </div>
        <div class="slide-blackman j-center">
            <div id="Three-button-black" class="with-thee-button">
                <div class="with-thee-button__text-one">
                    <h1> #{fifthslide.Choose}</h1>
                </div>
                <div class="with-thee-button__text-two">
                    <p>#{fifthslide.provide}</p>
                </div>
                <div id="threeblackbutton" class="with-thee-button__three_button_row">
                    each block in prices
                        if block.isNew
                            <div class="three_button_row__button ">
                                <div class="three_button_row__container">
                                    <div class="with-thee-button__text-one__button ">
                                        <img class="New-png" src="../assets/New.png" alt="">
                                        <h1>#{block.title}</h1>
                                    </div>
                                    <div class="three_button_row__number">#{block.price}</div>
                                    <div class="three_button_row__par">
                                       each row in block.list
                                            <P>#{row}</p> <br />
                                    </div>
                                    <button id="sale-button" class="three_button_row__yellow-button">buy now</button>
                                </div>
                            </div>
                        else 
                            <div class="three_button_row__button_white">
                                <div class="container__DEVELOPMENT">
                                    <div class="DEVELOPMENT">
                                        <h1>#{block.title}</h1>
                                    </div>
                                    <div class="three_button_row__number">#{block.price}</div>
                                    <div class="three_button_row__par">
                                        each row in block.list
                                            <p>#{row}</p> <br />
                                    </div><button class="three_button_row__yellow-button color-FFF color-yellow three_button_row__grey-button">buy now</button>
                                </div>
                            </div>
                </div>
            </div>
        </div>
        <div class="FAQs-slide">
            <div class="FAQs_container">
                <div class="FAQs__text">
                    <h1>#{sixthslide.FAQs}</h1>
                </div>
                <div class="FAQs_container__block">
                    <div class="FAQs__content">
                        <h1>#{sixthslide.I}</h1>
                        <p>#{sixthslide.Nulla}</p>
                    </div>
                    <button id="yellow-batton_first" class="block__white-lap">+</button>
                </div>


                <div class="FAQs_container__black-line"></div>
                <div class="FAQs_container__block">
                    <div class="FAQs__content">
                        <h1>#{sixthslide.Find}</h1>
                        <p>#{sixthslide.Nulla}</p>
                    </div>
                    <button id="yellow-batton_second" class="block__white-lap">+</button>


                </div>
                <div class="FAQs_container__black-line"></div>
                <div class="FAQs_container__block">
                    <div class="FAQs__content">
                        <h1>#{sixthslide.How}</h1>
                        <p>#{sixthslide.Nulla}</p>
                    </div>
                    <button id="yellow-batton_third" class="block__white-lap">+</button>
                </div>


                <div class="FAQs_container__black-line"></div>
                <div class="FAQs_container__block">
                    <div class="FAQs__content">
                        <h1>#{sixthslide.develop}</h1>
                        <p>#{sixthslide.Nulla}</p>
                    </div>
                    <button id="yellow-batton_four" class="block__white-lap">+</button>
                </div>
            </div>
        </div>
        <div class="basement-slide">
            <div class="slide__yellow_block">
                <div class="yellow_block__container">
                    <div class="m-0">
                        <div class="container__Start">
                            <h1>#{besementslide.upgrading}</h1>
                        </div>
                        <div class="Star__p">
                            <p>#{besementslide.Build}</p>
                        </div>
                    </div>
                    <div class="black-button d_flex flex-row m-top-30 ">
                        <button class="m-20 transparent">Try youerself<img class="line-3" src="../assets/arrow_2" alt="./assets/arrow_2"></button>
                        <button>Get started<img class="line-3" src="./assets/arrow_2" alt="./assets/arrow_2"></button>
                    </div>
                </div>
            </div>
            <div class="basement">
                <div class="basement__container">
                    <div class="white-line"></div>
                    <div class="basement__container__up">
                        <div class="container__up__Macode">
                            <div class="lap"><img class="black" src="./assets/black.png" alt=""></div>
                            <div class="Macode">
                                <p>#{besementslide.Macode}</p>
                            </div>
                        </div>
                        <div class="Macode__text">
                            <p>#{params.tutorials}</p>
                            <p>#{params.cases}</p>
                            <p>#{params.resourses}</p>
                        </div>
                    </div>
                    <div class="basement__container__low">
                        <div class="links">
                            <a href="https://facebookvhod.ru"><img src="./assets/facebook.png" alt=""></a>
                            <a href="https://vk.com/vk_instagram"><img src="./assets/instagram.png" alt=""></a>
                            <a href="https://vk.com"><img src="./assets/in.png" alt=""></a>
                            <a href="https://e.mail.ru/inbox"><img src="./assets/twitter.png" alt=""></a>
                            <a href="https://e.mail.ru/inbox"><img src="./assets/mail.png" alt=""></a>
                        </div>
                        <div class="container__low__text">
                            <p class="color-grey"> © 2021 Copyright.
                            <p class="color-yellow">Macode.io</p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <script src="./scripts/index.js"></script>
</body>
<html>