doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{obj.title}
    body 
        <div>
            <h1>#{obj.title} (#{obj.id})</h1>
            form(method="POST" action='/' + obj.id + '?' + "title=" + obj.title )
                <input value=#{obj.title} /> <br />
                <input value=#{obj.price} /> <br />
                <input type="checkbox" value=#{obj.isNew} /> Является новым блоком* <br />
                <button>Изменить</button>
            
        </div>