doctype html
html(lang="en")
head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="../styles/send.css")
    if(obj)
        if(obj.title)  
            title #{obj.title}
body 
    <div class="price-main">
    img( class="Line" src="../assets/Line 1.png", alt="")
    <div class="price-contauner">
    img( class="yellow-tabl" src="../assets/yellowtabl.png", alt="")
    <div class="price-contauner__main"> 
        <h1 class="DEVELOPMENT">#{obj.title} (#{obj.id})</h1>

            <p class="change"> #{obj.change}</p>
            input(class="price" id="title",type='text', placeholder='Name', name='name', value=obj.title)
            <p class="change"> #{obj.Changeprice} </p>
            <br />
            <input class="price" id="price" value=#{obj.price} /> <br />
            <div class="checkbox_content">
               <input class="checkbox_input"  id="new" type="checkbox" value=#{obj.isNew} />Is a new block* 
            </div>
            <br />
            button(class="PressMe" type='button', onclick='sendParams("'+ obj.id +'")' ) PressMe
            if(obj)
                if(obj.lang)
                    if(obj.lang === 'ru')
                        <a id="lang" class="ru" href="?lang=en">eng</a>
                    else 
                        <a id="lang" class="ru" href="?lang=ru" value =#{obj.ruarr}>ru</a>
      
        script
            include ../scripts/send.js
    </div>